# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing screenshots
screenshot_*.png

# Scratch
scratch/

# Local raw video backup
/VIDEO MUNICIPALIDAD ITR3.mp4

